os: linux
group: edge

addons:
  apt:
    packages:
    - libdevmapper-dev

language: rust

matrix:
    fast_finish: true
    allow_failures:
        # Allow beta tasks to fail
        - rust: beta
    include:
        # Run rustfmt on the compiler currently recommended for development
        - rust: 1.31.0
          before_script:
              - rustup component add rustfmt
          env: TASK=travis_fmt
        # Build on current stable compiler
        - rust: stable
          env: TASK=build
        # Verify that source and tests build on rustc 1.31.0
        # rustc 1.31.0 is the lowest supported compiler version.
        - rust: 1.31.0
          env: TASK=test
        # Run tests on current stable compiler
        - rust: stable
          sudo: required
          env: TASK=sudo_test
        # Run clippy using the compiler version recommended for development
        - rust: 1.31.0
          before_script:
              - rustup component add clippy
          env: TASK=clippy
        # Run tests on rust beta, in order to be good Rustaceans
        - rust: beta
          sudo: required
          env: TASK=sudo_test

branches:
    only: master

script: make -f Makefile $TASK
