sudo: required
os: linux
dist: trusty
group: edge

before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y libdevmapper-dev

language: rust

matrix:
    allow_failures:
        - env: TASK=clippy
    include:        
        - rust: stable
          env: TASK=fmt
        - rust: stable
          env: TASK=build
        - rust: stable
          env: TASK=sudo_test
        - rust: nightly
          env: TASK=clippy

branches:
    only: master

script: make -f Makefile $TASK 
