[package]
name = "devicemapper"
version = "0.8.0"
authors = ["Stratis Developers <stratis-devel@lists.fedorahosted.com>"]
description = "A library for using Linux device mapper"
documentation = "https://docs.rs/devicemapper/"
# homepage = "..."
repository = "https://github.com/stratis-storage/devicemapper-rs"
readme = "README.md"
keywords = ["Linux", "device", "mapper", "libdm", "storage"]
license = "MPL-2.0"

[dependencies]
libc = "0.2"
nix = "0.9"
bitflags = "0.9"
newtype_derive = "0.1"
custom_derive = "0.1"
serde = "1"
log = "0.3"
env_logger="0.4"
clippy = {version = "0", optional = true}

[dev-dependencies]
loopdev = "0.1.1"
tempdir = "0.3.5"
