[package]
name = "devicemapper"
version = "0.5.1"
authors = ["Andy Grover <agrover@redhat.com>"]
description = "A library for using Linux device mapper"
documentation = "https://docs.rs/devicemapper/"
# homepage = "..."
repository = "https://github.com/stratis-storage/devicemapper-rs"
readme = "README.md"
keywords = ["Linux", "device", "mapper", "libdm", "storage"]
license = "MPL-2.0"

[dependencies]
libc = "0.2"
nix = "0.5"
bitflags = "0.4"
clippy = { version = "0", optional = true }
newtype_derive = "0.1"
custom_derive = "0.1"
serde = "1"
log = "0.3"
env_logger="0.3.5"
