[package]
name = "devicemapper"
version = "0.30.0"
authors = ["Stratis Developers <stratis-devel@lists.fedorahosted.com>"]
description = "A library for using Linux device mapper"
documentation = "https://docs.rs/devicemapper/"
repository = "https://github.com/stratis-storage/devicemapper-rs"
readme = "README.md"
categories = ["os"]
keywords = ["Linux", "device", "mapper", "libdm", "storage"]
license = "MPL-2.0"
edition = "2018"
exclude = [".gitignore", ".github/*"]

[dependencies]
bitflags = "1.1.0"
error-chain = "0.12.4"
libc = "0.2.94"
nix = "0.22.0"
semver = "1.0.0"
serde = "1.0.60"

[dev-dependencies]
libmount = "0.1.11"
libudev = "0.2.0"
loopdev = "0.2.0"
matches = "0.1.8"
tempfile = "3.0.2"

[dev-dependencies.uuid]
version = "0.8.0"
features = ["v4"]

[build-dependencies.bindgen]
default_features = false
features = ["runtime"]
version = "0.57.0"
