---
name: devicemapper cargo CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
    paths:
      - '**/Cargo.toml'
      - '.github/workflows/cargo.yml'
  pull_request:
    branches: [master]
    paths:
      - '**/Cargo.toml'
      - '.github/workflows/cargo.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  checks-with-ci-repo:
    runs-on: ubuntu-22.04
    container:
      image: fedora:42  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - name: Install git for checkout action
        run: dnf install -y git
      - uses: actions/checkout@v6
        with:
          path: devicemapper-rs
          persist-credentials: false
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          device-mapper-devel
          make
          openssl-devel
          python-requests
          python-semantic_version
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.91.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Check out ci repo
        uses: actions/checkout@v6
        with:
          path: ci
          repository: stratis-storage/ci
          persist-credentials: false
      - name: Run comparisons of version specs with -sys package
        # yamllint disable rule:line-length
        run: |
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=rawhide IGNORE_ARGS="--ignore-category low" make -f ../Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f43 IGNORE_ARGS="--ignore-category low" make -f ../Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f42 IGNORE_ARGS="--ignore-category low" make -f ../Makefile check-fedora-versions
        working-directory: devicemapper-rs/devicemapper-rs-sys
      - name: Run comparisons of version specs with package
        # yamllint disable rule:line-length
        run: |
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=rawhide IGNORE_ARGS="--ignore-category low --ignore-high=devicemapper-sys" make -f Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f43 IGNORE_ARGS="--ignore-category low --ignore-high=devicemapper-sys" make -f Makefile check-fedora-versions
          COMPARE_FEDORA_VERSIONS=$GITHUB_WORKSPACE/ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f42 IGNORE_ARGS="--ignore-category low --ignore-high=devicemapper-sys" make -f Makefile check-fedora-versions
        working-directory: devicemapper-rs
