---
name: devicemapper CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'CHANGES.txt'
      - '**/README.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'CHANGES.txt'
      - '**/README.md'

  workflow_dispatch:

jobs:
  checks:
    strategy:
      matrix:
        include:
          - components: rustfmt
            toolchain: 1.70.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: make -f Makefile fmt-ci
          - components: clippy
            toolchain: 1.70.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: make -f Makefile clippy
          - components: cargo
            toolchain: 1.70.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: make -f Makefile build
          - components: cargo
            toolchain: 1.70.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: make -f Makefile docs
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
      - name: Install dependencies
        run: |
          sudo apt-get -q update
          sudo apt-get -y install libdevmapper-dev
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  tests-with-sudo:
    strategy:
      matrix:
        include:
          - toolchain: 1.66.1  # LOWEST SUPPORTED RUST TOOLCHAIN
          - toolchain: 1.70.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: ${{ matrix.toolchain }}
      - name: Install dependencies
        run: |
          sudo apt-get -q update
          sudo apt-get -y install libdevmapper-dev
      - name: Set toolchain override with sudo
        run: sudo /home/runner/.cargo/bin/rustup override set ${{ matrix.toolchain }}  # yamllint disable rule:line-length
      - name: Run all tests on ${{ matrix.toolchain }} toolchain
        run: sudo PATH=$GITHUB_WORKSPACE/.cargo/bin:$PATH make -f Makefile sudo_test  # yamllint disable rule:line-length

  checks-with-ci-repo:
    strategy:
      matrix:
        include:
          - task: >
              SET_LOWER_BOUNDS=./set_lower_bounds
              MANIFEST_PATH=../../devicemapper-rs-sys/Cargo.toml
              make -f ../../Makefile verify-dependency-bounds
          - task: >
              SET_LOWER_BOUNDS=./set_lower_bounds
              MANIFEST_PATH=../../Cargo.toml
              make -f ../../Makefile verify-dependency-bounds
    runs-on: ubuntu-20.04
    container:
      image: fedora:38  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          device-mapper-devel
          git
          make
          openssl-devel
          python-requests
          python-semantic_version
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.70.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Check out ci repo
        run: git clone https://github.com/stratis-storage/ci.git
      - name: Run ${{ matrix.task }}
        run: ${{ matrix.task }}
        working-directory: ./ci/dependency_management

  # VERIFICATION OF TEST INFRASTRUCTURE
  yamllint:
    runs-on: ubuntu-20.04
    container:
      image: fedora:38  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies for Fedora
        run: dnf install -y make yamllint
      - name: Run yamllint
        run: make -f Makefile yamllint
