---
name: devicemapper CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  checks:
    strategy:
      matrix:
        include:
          # MANDATORY CHECKS USING CURRENT DEVELOPMENT COMPILER
          - components: rustfmt
            toolchain: 1.50.0
            task: make -f Makefile travis_fmt
          - components: clippy
            toolchain: 1.50.0
            task: make -f Makefile clippy
          # MANDATORY TESTING USING LOWEST SUPPORTED COMPILER
          - components: cargo
            toolchain: 1.49.0
            task: >
              sudo PATH=$GITHUB_WORKSPACE/.cargo/bin:$PATH
              make -f Makefile sudo_test
          # MANDATORY TESTING ON STABLE
          - components: cargo
            toolchain: stable
            task: make -f Makefile build
          - components: cargo
            toolchain: stable
            task: >
              sudo PATH=$GITHUB_WORKSPACE/.cargo/bin:$PATH
              make -f Makefile sudo_test
          - components: cargo
            toolchain: stable
            task: make -f Makefile docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
          override: true
      - name: Install dependencies
        run: |
          sudo apt-get -q update
          sudo apt-get -y install libdevmapper-dev
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  # ALLOWED FAILURES
  allowed_failures:
    continue-on-error: true
    strategy:
      matrix:
        include:
          # Run "cargo audit" on rust stable. Make it an allowed failure. It
          # should be an advisory and should not gate our development.
          - components: cargo
            toolchain: stable
            task: audit
          # Allowed because a failure may occur after a new Rust stable
          # version is released.
          - components: clippy
            toolchain: stable
            task: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
          override: true
      - name: Install dependencies
        run: |
          sudo apt-get -q update
          sudo apt-get -y install libdevmapper-dev
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: make -f Makefile ${{ matrix.task }}

  # VERIFICATION OF TEST INFRASTRUCTURE
  yamllint:
    env:
      TASK: yamllint
      PYTHON: 3.8.6
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON }}
      - name: Install dependencies
        run: pip3 install yamllint==1.25.0
      - name: Run yamllint
        run: make -f Makefile $TASK
